ecdsa==0.13
enum34==1.1.2
Jinja2==2.8
lxml==3.4.4
MarkupSafe==0.23
paramiko==1.15.2
pyang==1.6
pycrypto==2.6.1
Sphinx==1.4a1
sphinx-rtd-theme==0.1.9
XlsxWriter==0.7.3
GitPython==1.0.1
Twisted>=16.0.0
protobuf==3.0.0b2.post2
ncclient>=0.4.7
